<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="©2025 BLUEWEBD™. All rights reserved.">
    <meta name="author" content="BLUEWEBD™">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>폼요소 : SELECT</title>

    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../assets/css/cp.style.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../assets/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../assets/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../assets/css/pg.component.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>

<body pb-component>
    <div class="pbgWrap">
        <div class="pbgContainer">
            <div class="pbg-titWrap dep1">
                <h1>SELECT</h1>
            </div>
            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>sys select</h2>
                </div>
                <article class="pbg-component" temp-cp-gap>
                    <div class="pbg-titWrap dep3">
                        <h3>기본</h3>
                    </div>
                    <div class="field">
                        <label class="field-label">기본 선택</label>
                        <div class="field-outline">
                        <div class="field-select grow">
                            <select class="select-sys" title="기본 선택">
                            <option>선택해주세요</option>
                            <option>선택1</option>
                            <option>선택2</option>
                            <option>선택13</option>
                            </select>
                        </div>
                        </div>
                        <p class="field-msg">
                        <span class="ico ico-error txt-r">오류체크 메세지 출력</span>
                        </p>
                        <p class="field-msg info">
                        <span class="ico ico-info txt-r">안내성 메세지</span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="field-label">기본 readonly</label>
                        <div class="field-outline">
                            <div class="field-select grow">
                                <select class="select-sys" title="기본 readonly" aria-readonly="true">
                                <option>선택해주세요</option>
                                <option>선택1</option>
                                <option>선택2</option>
                                <option>선택13</option>
                                </select>
                            </div>
                        </div>
                        <p class="field-msg">
                        <span class="ico ico-error txt-r">오류체크 메세지 출력</span>
                        </p>
                        <p class="field-msg info">
                        <span class="ico ico-info txt-r">안내성 메세지</span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="field-label">기본 disabled</label>
                        <div class="field-outline">
                            <div class="field-select grow">
                                <select class="select-sys" title="기본 disabled" aria-disabled="true" disabled>
                                <option>선택해주세요</option>
                                <option>선택1</option>
                                <option>선택2</option>
                                <option>선택13</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        <p class="field-msg">
                        <span class="ico ico-error txt-r">오류체크 메세지 출력</span>
                        </p>
                        <p class="field-msg info">
                        <span class="ico ico-info txt-r">안내성 메세지</span>
                        </p>
                    </div>
                </article>
            </section>

            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>select : UI select</h2>
                </div>
                <article class="pbg-component" temp-cp-gap>
                    <div class="pbg-titWrap dep3">
                        <h3>달력</h3>
                    </div>

                    <div class="field">
                        <label class="field-label">달력</label>
                        <div class="field-outline">
                            <label class="field-input grow _input date">
                                <input type="date" id="date1" class="select">
                            </label>
                        </div>
                    </div>
                </article>
                
            </section>
        </div>
    </div>

</body>
<script src="../../assets/js/ui.component.js"></script>
<script>
    // 팝업 강제호출
    // const callBtn = $('<div data-modal="networkError"></div>');
    // COMPONENT_UI.modalPop.showModal(callBtn);


</script>

</html>