<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="copyright" content="©2025 BLUEWEBD™. All rights reserved.">
    <meta name="author" content="BLUEWEBD™">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover, user-scalable=no">
    <title>Swiper v8.4.7</title>

    <!-- [S] PUBLISH COMMON STYLE -->
    <link rel="stylesheet" href="../../assets/css/cp.style.css">
    <!-- [E] PUBLISH COMMON STYLE -->

    <!-- [S] PAGES - STYLE -->
    <link rel="stylesheet" href="">
    <!-- [E] PAGES - STYLE -->

    <!-- [S] LIBRARY - SCRIPT -->
    <script src="../../assets/js/lib/lib.jquery-3.6.3.min.js"></script>
    <script src="../../assets/js/lib/lib.swiper.8.4.7.min.js"></script>
    <script src="../../assets/js/lib/lib.jquery-ui-1.13.2.js"></script>
    <!-- [E] LIBRARY - SCRIPT -->

    <!-- [S] @TEMP - GUIDE STYLE -->
    <link rel="stylesheet" href="../assets/css/pg.component.css">
    <!-- [E] @TEMP - GUIDE STYLE -->
</head>

<body pb-component>
    <div class="pbgWrap swiper8">
        <div class="pbgContainer">
            <div class="pbg-titWrap dep1">
                <h1>[swiper v8.4.7]</h1>
            </div>
            <section class="pbg-content">
                <div class="pbg-titWrap dep2">
                    <h2>메인 슬라이드</h2>
                </div>

                <hr class="divider m" />
                
                <article class="pbg-component">
                    <div class="item-group late">
                        <div class="swiper-wrap" swiper-arrow="true" swiper-view="4" swiper-space="16" auto-height="true">
                            <div class="swiper-container swiper-content" swiper-name="swiper5">
                                <ul class="swiper-wrapper">
                                    <li class="swiper-slide">
                                        <div class="item-box">
                                            <div class="titWrap name">
                                                <h2 class="tit dep04">양관식 과장</h2>
                                                <p class="tit headtypo">디자인</p>
                                            </div>
                                            <div class="item-con time">
                                                <span class="tit">09:05 ~ 14:10</span>
                                                <span class="tit">지각, 조퇴</span>
                                            </div>
                                            <div class="item-con desc">
                                                <p class="tit">출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.</p>
                                            </div>
                                            <div class="btnWrap grow">
                                                <button class="btn tertiary size-lg">반려</button>
                                                <button class="btn primary size-lg">보정</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="swiper-slide">
                                        <div class="item-box">
                                            <div class="titWrap name">
                                                <h2 class="tit dep04">양관식 과장</h2>
                                                <p class="tit headtypo">디자인</p>
                                            </div>
                                            <div class="item-con time">
                                                <span class="tit">09:05 ~ 14:10</span>
                                                <span class="tit">지각, 조퇴</span>
                                            </div>
                                            <div class="item-con desc">
                                                <p class="tit">출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.</p>
                                            </div>
                                            <div class="btnWrap grow">
                                                <button class="btn tertiary size-lg">반려</button>
                                                <button class="btn primary size-lg">보정</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="swiper-slide">
                                        <div class="item-box">
                                            <div class="titWrap name">
                                                <h2 class="tit dep04">양관식 과장</h2>
                                                <p class="tit headtypo">디자인</p>
                                            </div>
                                            <div class="item-con time">
                                                <span class="tit">09:05 ~ 14:10</span>
                                                <span class="tit">지각, 조퇴</span>
                                            </div>
                                            <div class="item-con desc">
                                                <p class="tit">출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.</p>
                                            </div>
                                            <div class="btnWrap grow">
                                                <button class="btn primary size-lg" btn-active="false">보정완료</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="swiper-slide">
                                        <div class="item-box">
                                            <div class="titWrap name">
                                                <h2 class="tit dep04">양관식 과장</h2>
                                                <p class="tit headtypo">디자인</p>
                                            </div>
                                            <div class="item-con time">
                                                <span class="tit">09:05 ~ 14:10</span>
                                                <span class="tit">지각, 조퇴</span>
                                            </div>
                                            <div class="item-con desc">
                                                <p class="tit">출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.</p>
                                            </div>
                                            <div class="btnWrap grow">
                                                <button class="btn tertiary size-lg">반려</button>
                                                <button class="btn primary size-lg">보정</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="swiper-slide">
                                        <div class="item-box">
                                            <div class="titWrap name">
                                                <h2 class="tit dep04">양관식 과장</h2>
                                                <p class="tit headtypo">디자인</p>
                                            </div>
                                            <div class="item-con time">
                                                <span class="tit">09:05 ~ 14:10</span>
                                                <span class="tit">지각, 조퇴</span>
                                            </div>
                                            <div class="item-con desc">
                                                <p class="tit">출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.</p>
                                            </div>
                                            <div class="btnWrap grow">
                                                <button class="btn tertiary size-lg">반려</button>
                                                <button class="btn primary size-lg">보정</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="swiper-slide">
                                        <div class="item-box">
                                            <div class="titWrap name">
                                                <h2 class="tit dep04">양관식 과장</h2>
                                                <p class="tit headtypo">디자인</p>
                                            </div>
                                            <div class="item-con time">
                                                <span class="tit">09:05 ~ 14:10</span>
                                                <span class="tit">지각, 조퇴</span>
                                            </div>
                                            <div class="item-con desc">
                                                <p class="tit">출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.출근 후 현업과 갑작스러운 미팅으로 인해 출근 처리가 늦음.</p>
                                            </div>
                                            <div class="btnWrap grow">
                                                <button class="btn tertiary size-lg">반려</button>
                                                <button class="btn primary size-lg">보정</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>

</body>
<script src="../../assets/js/ui.component.js"></script>

</html>