$field:'.field';
$sel:'.select';

#{$field} {
    #{$sel} {
        &-sys {
            @include el-size(100%, 100%);
            padding-right: 3rem;
            background-color: transparent;
            // background: svgIcon(ico_selArrow);
            // background-position: calc(100% - 1rem) 50%; background-size: 1.6rem 1.6rem;
            color: inherit; white-space: nowrap; text-overflow: ellipsis;
            border:none;

            &[aria-readonly=true], &[aria-disabled=true], &[disabled] {
                pointer-events: none; touch-action: none;
            }

            &.add {
                appearance: none;
                background: svgIcon(ic_24_add) calc(100% - .8rem) 50%;
                background-size:2.4rem 2.4rem;
            }
        }
    }
}
#{$sel} {
    &-lst {
        & > li {
            padding:1rem 0;
            @include line(border,.1rem solid $color-border-secondary, bottom);
            @extend %transition3s;
            // & ~ li {border-top:.1rem solid $color-gray5;}
            & > a {
                @include dflex($j-content:space-between, $al-items:space-between);
                @include el-content(after) {
                    @include el-size(2rem, 2rem); min-width:2rem;
                    // background: svgIconForm(chk-line, aaa); background-position: 100% 100%;
                    vertical-align:middle;
                }
            }
            &._is-active {
                border-color:$color-border-focusring;
                &  > a {
                    color:$color-brand-primary-400;
                    @extend %weight-bold;
                    @include el-content(after) {
                        background:svgIcon(ic_check, 2380ff) 50% 50%;
                    }
                }
            }
        }
    }
}