$field:'.field';
$fmsg: '#{$field}-msg';
#{$field} {
    &.grow, .grow {flex:1 0 0;}
    &-btn {@include dflex($j-content:center, $al-items:center); flex-shrink:0;}
    &-label:not(.field-chkrdo .field-label) {display:block; margin-bottom: 1rem;}
    &-txt {@include dflex($al-items:center); flex-shrink:0;}
    &-msg {
        display:none; margin-top:.5rem; color:$color-text-tertiary; @extend %body-xs-regular;
        &.info {display:block;}
    }

    // FIELD - INPUT
    &-input {
        height: 4.0rem;
        input:not([type=checkbox]):not([type=radio]) {padding: 1.0rem 0; width: 100%; height: 100%; border: 0; background-color: transparent;}
        input:not([type=checkbox]):not([type=radio]):focus {outline: none;}
        input:not([type=checkbox]):not([type=radio])::placeholder {color:$color-text-placeholder;}

        &.right {input {text-align:right;}}
        &.center {input {text-align:center;}}

        &.mid_num {
            @include pos-offset(relative);
            max-width:1.1rem;
            padding-right:0;
            input::placeholder {font-size:.4rem;}
        }
    }
    &-outline {
        @include dflex($al-items: stretch);
        min-height: 4.0rem;
        border-radius: .5rem;
        box-shadow: inset 0 0 0 .1rem $color-border-secondary;
        background:$color-bg-primary;
        &:focus-within {@include line(inset, $color-border-focusring, .2rem);}

        // 인증번호 필드 + 인증번호 & 인증번호 필드 + 인증시간
        &.auth {
            display:inline-flex;
            width:100%;
            // width:calc(100% - 8rem);

            #{$field} {
                &-input {@include dflex;}
                ._input-clear {order:2;}
            }
        
            .auth-time {
                margin-left:1rem;
                align-self:center; order:3;
            }
            .btn-auth {align-self: center; margin-right:1rem;}
        }

        &.pw {
            &-group {
                &.type2 {
                    & > ._input {
                        max-width: 3rem;
                        &:first-child {padding-right:0;}
                    }
                }
            }
        }
        
        &.grow {flex:1 0 0;}
        & > * {padding:0 1rem;}
        & > * + * {padding-left:0;}
        
        &.column {
            flex-direction: column;
            & > * {padding:1rem;} 
            & > * + * {padding-top:0;}
            .right {place-self: flex-end;}
        }

        &.readonly {color:$color-text-secondary; cursor: default; pointer-events: none;}
        &.disabled {
            opacity:.8; cursor:default; pointer-events:none;
            background:$color-bg-disabled;}

        .center {place-self: center;}
        .bottom {place-self: flex-end;}
    }

    /* FIELD - VALID */
    &.valid, &.invalid {
        #{$fmsg} {display:block;}
    }
    &.valid {
        #{$field} {
            &-outline {
                @include line(inset, $color-border-success);
                &:focus-within {
                    @include line(inset, $color-border-success, .2rem);
                    input::placeholder {color:$color-text-success;} // 상황에 따라 삭제할 것
                }
            }
        }
        & + #{$fmsg}, #{$fmsg} {color:$color-text-success;}
    }

    &.invalid {
        #{$field} {
            &-outline {
                @include line(inset, $color-border-warning);
                input {color:$color-text-warning;}
                &:focus-within {
                    @include line(inset, $color-border-warning, .2rem);
                    input::placeholder {color:$color-text-warning;} // 상황에 따라 삭제할 것
                }
            }
        }
        & + #{$fmsg}, #{$fmsg} {color:$color-text-warning;}
    }
}


/* FIELD - INPUT SCRIPT */
._input {
    @include dflex($al-items:center);
    &._clear {width:calc(100% - 2.2rem);}
    &-clear {
        display:none;
        pointer-events:none; touch-action: none;
        @include el-size(1.4rem, 1.4rem);
        background:$color-bg-interactive-secondary-pressed;
        border-radius:100%;
        @include pos-offset(relative);
        @include el-content(both) {
            @include el-size(.8rem,.1rem);
            @include pos-offset($top:calc(50%), $left:calc(50%));
            background:$color-bg-primary;
        }
        
        @include el-content(before) {transform:translate(-50%, -50%) rotate(45deg);}
        @include el-content(after) {transform:translate(-50%, -50%) rotate(-45deg);}

        &._active {
            @include dflex(inline-flex, $j-content:flex-end) { align-self:center;}
            pointer-events:all; 
            margin-left:.5rem;
        }
    }
    input {
        &._password {
            @extend %body-md-medium;
            &::placeholder {@extend %body-md-medium; }
            // &:read-only, &:disabled { padding-top:1.3rem;}
        }
    }

    ._secureTxt {
        @include pos-offset(relative); display:block; height:4rem;
        & > input[type="password"] {
            @include pos-offset(relative, $z-index:2); color:transparent;
            &::placeholder {color:transparent;}
        }

        & > i {
            @include pos-offset($top:50%, $left:0, $z-index:1);
            transform: translate(0, -50%);
            display:block; @include el-size(1rem, 1rem);
            background:$color-bg-interactive-secondary; @extend %radius-full;

            & + i {margin-left:.3rem;}
            &._line {
                @include line(inset, $color-border-secondary);
                background:$color-bg-primary;
                &._is-active {background:$color-bg-interactive-primary-hover; box-shadow: none;}
            }
        }
    }
}