@charset "UTF-8";
/**************************/
/*** Primitive Variables ***/
/**************************/
/* Color */
/* typography */
/* box */
/**************************/
/*** Semantic Variables ***/
/**************************/
/* Color */
/* Typography */
.tit {
  font-family: 'Pretendard', 'sans-serif';
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.02rem;
}

.commute-group .cont-item.state .area-time {
  font-family: 'Pretendard', 'sans-serif';
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.02rem;
}

.login-title .tit {
  font-family: 'Pretendard', 'sans-serif';
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.02rem;
}

.headerWrap .left .tit {
  font-family: 'Pretendard', 'sans-serif';
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -0.02rem;
}

.cont-box.stage .tit, .login-content .tit {
  font-family: 'Pretendard', 'sans-serif';
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.02rem;
}

.cont-box.stage .txt {
  font-family: 'Pretendard', 'sans-serif';
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.02rem;
}

.commute-group.afterwork .cont-item.title .txt, .commute-group.annual .cont-item.title .txt, .headerWrap .center .title, .btn.size-md, .btn.size-lg {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
}

.commute-group .cont-item.title .tit {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
}

.field.box-opt.gap .chk:checked ~ .field-label, .field.box-opt.gap .rdo:checked ~ .field-label, .field.box-opt.gap .field-chkrdo._readonly .chk:checked ~ .field-label, .field.box-opt.gap .field-chkrdo._readonly .rdo:checked ~ .field-label {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  font-weight: 600;
}

._input input._password::placeholder, ._input input._password, .loadingWrap .txt {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  font-weight: 500;
}

.commute-group .cont-item.title .txt, .field.box-opt.gap .field-chkrdo .field-label, .field-chkrdo .field-label, .btn.size-xs, .btn.size-sm, body, th, td, input, select, textarea, button, input[type=checkbox]:checked {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
}

.commute-group .cont-item .badge, .commute-group .cont-item.state .area-state .txt {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.02rem;
  font-weight: 500;
}

.field-msg {
  font-family: 'Pretendard', 'sans-serif';
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
}

.commute-group.afterwork .cont-item.title .txt + .txt, .cont-box.stage .txt, .headerWrap .left .tit {
  font-weight: 400;
}

.commute-group .cont-item .badge, .commute-group .cont-item.state .area-state .txt {
  font-weight: 500;
}

.commute-group.afterwork .cont-item.title .txt, .commute-group.annual .cont-item.title .txt, .cont-box.stage .tit, .headerWrap .center .title, .login-content .tit, .login-title .tit {
  font-weight: 600;
}

/* Radius */
.field.box-opt.ico .field-icon::before {
  border-radius: 0;
}

.field-chkrdo .chk ~ .field-icon {
  border-radius: 0.5rem;
}

.field.box-opt.gap .field-chkrdo .field-label, .btn.size-sm {
  border-radius: 0.8rem;
}

.btn.size-md, .btn.size-lg {
  border-radius: 1rem;
}

.cont-box {
  border-radius: 1.6rem;
}

.btn.size-xs {
  border-radius: 99.9rem;
}

.commute-group.afterwork .cont-item.title .txt::after, .commute-group.annual .cont-item.title .txt::after, .commute-group .cont-item .badge, .commute-group .cont-item.state .area-state .icon::after, .commute-group .cont-item.state .area-state .icon, .cont-menu .item .link::after, ._input ._secureTxt > i, .field.box-opt.ico .field-icon, .field-switch .field-icon::before, .field-chkrdo .rdo ~ .field-icon, .field-chkrdo .rdo:checked + .field-icon::before {
  border-radius: 100%;
}

.btn.primary.disabled {
  background-color: #E8F5FF;
  color: #347EFF;
  opacity: 0.5;
}

.btn.secondary.disabled {
  background-color: #ECEFF4;
  color: #A9B0B8;
}

.btn.tertiary.disabled {
  background-color: #F2F5F7;
  color: #A9B0B8;
  box-shadow: 0 0 0 0.1rem #E0E3E8 inset;
}

/** FONT **/
/* clamp 기반 font-size
// 최소 크기 $min, 기본 크기 $preferred, 최대 크기 $max 사이에서 뷰포트에 따라 자동으로 크기가 반응형으로 조정
@mixin font-clamp($min: 0.9rem, $preferred: 1.6rem, $max: 4rem) {
  font-size: clamp($min, $preferred + 1vw, $max);
}
// 사용예시
.txt-desc {@include font-clamp(1.2rem, 1.6rem, 3.2rem);}
.txt-small {@include font-clamp(0.9rem, 1.2rem, 1.6rem);}
.txt-default {@include font-clamp(최소값, 선호값, 최대값);} // 최소값은 $min, 최대값은 $max를 벗어날수 없음
 */
/* */
/****************************************/
/*	PART: RESET CSS
/****************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
} /* rem default 10px */
body {
  width: 100%;
  overflow-x: hidden;
  /* 뷰표트 변환시 폰트크기 자동확대 방지. */
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, fieldset,
legend, p, th, td {
  word-break: keep-all;
}

body, div, dl, dt, dd, ul, ol, li, hgroup, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

address, caption, cite, code, dfn, em, var, i, b {
  font-style: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

input, select, textarea, button {
  font-size: 100%;
  vertical-align: middle;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
} /* 포커스 라인 비활성처리*/
table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea,
select {
  background-color: transparent;
}

input[type=checkbox]:checked {
  -webkit-appearance: checkbox;
  color: #212529;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], input[type=password], input[type=submit], input[type=date],
input[type=search], input[type=tel], input[type=email] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
} /* IE9 이상 select 화살표 삭제 */
input[type=text]:read-only, input[type=password]:read-only,
input[type=text]:disabled, input[type=password]:disabled {
  background: dnd("colors", "primitive", "neutral", 100);
}

strong, b {
  font-weight: 600;
}

a {
  display: inline-block;
  color: #212529;
  text-decoration: none; /*outline:transparent;*/
}

a:active, a:hover {
  text-decoration: none;
}

legend, caption {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

hr {
  display: none;
  visibility: hidden;
}
hr.divider {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  height: 1.6rem;
}
hr.divider.xxl {
  height: 4.8rem;
}
hr.divider.xl {
  height: 4rem;
}
hr.divider.lg {
  height: 3.2rem;
}
hr.divider.m {
  height: 2.4rem;
}
hr.divider.s {
  height: 1.2rem;
}
hr.divider.xs {
  height: 0.8rem;
}
hr.divider.m-xs {
  height: 0;
  margin-top: -0.8rem;
}
hr.divider + [class*=field], hr.divider + [class*=Wrap], hr.divider + * {
  margin-top: 0;
}

.side-gap {
  padding: 0 0.8rem;
}

.space {
  margin-left: 2.4rem !important;
  margin-right: 2.4rem !important;
}

*:focus, *:focus-visible {
  outline: none;
}

/****************************************/
/*	PART: BASIC CSS
/****************************************/
.hide {
  position: absolute !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  clip: rect(1px 1px 1px 1px);
}

.blind {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  display: block !important;
  font-size: 1px !important;
  z-index: -1;
}

.screen {
  position: absolute !important;
  overflow: hidden !important;
  height: 0 !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border: 0;
  font-size: 1px;
  text-indent: -9999px;
}

.full {
  width: 100% !important;
}

.loadingWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 0;
  flex-flow: column;
  position: fixed;
  top: 0;
  z-index: 9995;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
}
.loadingWrap .circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(0, 27, 97, 0.3);
}
.loadingWrap .circle span {
  display: block;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: url("../img/common/loading_icons_sprite.svg") no-repeat 0;
  background-position-x: -20px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transform: translate(80px, 0);
  animation: loadingIconMove 3.6s infinite;
  transform-origin: center bottom;
}
.loadingWrap .circle span:first-child {
  animation: loadingIconFirst 3.6s;
}
.loadingWrap .circle span:nth-child(2) {
  background-position-x: -132px;
  animation-delay: 0.25s;
}
.loadingWrap .circle span:nth-child(3) {
  background-position-x: -244px;
  animation-delay: 0.85s;
}
.loadingWrap .circle span:nth-child(4) {
  background-position-x: -356px;
  animation-delay: 1.45s;
}
.loadingWrap .circle span:nth-child(5) {
  background-position-x: -468px;
  animation-delay: 2.05s;
}
.loadingWrap .circle span:nth-child(6) {
  background-position-x: -580px;
  animation-delay: 2.65s;
}
.loadingWrap .circle span:nth-child(7) {
  background-position-x: -692px;
  animation-delay: 3.25s;
}
.loadingWrap .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #212529;
  width: calc(100vw - 4rem);
  margin-top: 6rem;
  text-align: center;
}
@keyframes loadingIconFirst {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  3% {
    transform: translate(0, 0) rotate(0deg);
  }
  8% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(-80px, 0) rotate(-70deg);
  }
  100% {
    transform: translate(-80px, 0) rotate(-70deg);
  }
}
@keyframes loadingIconMove {
  0% {
    transform: translate(80px, 0) rotate(90deg);
  }
  12% {
    transform: translate(0, 0) rotate(-4deg);
  }
  15% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(0, 0);
  }
  35% {
    transform: translate(-80px, 0) rotate(-70deg);
  }
  100% {
    transform: translate(-80px, 0) rotate(-70deg);
  }
}
.loadingWrap .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
}
.loadingWrap .loading::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.loadingWrap .loading::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.loadingWrap .loading::before {
  content: "";
  display: block;
  background: #347EFF;
  animation: loadingRow 1.8s ease-in-out infinite;
}
.loadingWrap .loading::after {
  content: "";
  display: block;
  background: #2D9D78;
  animation: loadingRow2 1.8s ease-in-out infinite;
}
.loadingWrap .loading .circle {
  display: block;
  position: absolute;
  left: 50%;
  background: #E34850;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: loadingCol 0.9s ease-in-out infinite;
}
@keyframes loadingRow {
  0% {
    left: 2rem;
  }
  50% {
    left: 7rem;
  }
  100% {
    left: 2rem;
  }
}
@keyframes loadingRow2 {
  0% {
    left: 7rem;
  }
  50% {
    left: 2rem;
  }
  100% {
    left: 7rem;
  }
}
@keyframes loadingCol {
  0% {
    top: 2rem;
  }
  50% {
    top: 7rem;
  }
  100% {
    top: 2rem;
  }
}

.quick {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 1100;
  transition: bottom 0.3s ease-in-out;
}
.quick button {
  display: table;
  table-layout: fixed;
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  margin: 0 0 0 auto;
  border-radius: 26px;
  background-color: rgba(51, 51, 51, 0.8);
  box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.23s ease-in-out, box-shadow 1.5s linear;
}
.quick .quickTopBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  height: 0;
  opacity: 0;
  margin-top: 1.2rem !important;
  background: url("../img/common/quick_top_v2.png") center center no-repeat;
  background-size: 1.3rem auto;
  background-color: rgba(255, 255, 255, 0.78);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.12);
  transition: opacity 0.3s linear, transform 0.3s ease-out;
  transform: translate(0, 200%);
}
.quick.topVisible {
  padding-bottom: 57px;
}
.quick.topVisible .quickTopBtn {
  display: table;
  height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.78);
  opacity: 1;
  transform: translate(0, 0);
}

.btnWrap.split.col2 {
  flex-wrap: wrap;
}
.btnWrap.split.col2 > * {
  margin: 0;
  width: calc(50% - 0.4rem);
}
.btnWrap.split.col2 .full {
  display: block;
  flex: 1 0 100%;
}
.btnWrap.full > .btn {
  width: 100%;
  margin: 0;
  margin-bottom: 0 !important;
}
.btnWrap.full > .btn ~ .btn {
  margin-bottom: 0 !important;
  margin-top: 1rem;
}
.btnWrap.grow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btnWrap.grow .btn ~ .btn:not(.full) {
  margin-left: 1rem;
}
.btnWrap.grow > * {
  flex: 1 0 0;
  display: block;
}
.btnWrap.grow > .full {
  flex: none;
  margin-top: 1rem;
}
.btnWrap.grow.full > .btn {
  margin: 0;
}
.btnWrap.grow.full > .btn ~ .btn {
  margin: 0;
}
.btnWrap.grow.full > .btn:first-child {
  border-radius: 0.8rem 0 0 0.8rem;
}
.btnWrap.grow.full > .btn + .btnWrap.grow.full > .btn {
  border-radius: 0;
}
.btnWrap.grow.full > .btn:last-child {
  border-radius: 0 0.8rem 0.8rem 0;
}
.btnWrap.grow.full > .btn:focus {
  z-index: -1;
}

.btn {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}
.btn.primary {
  color: #fff;
  background-color: #347EFF;
}
.btn.primary:hover, .btn.primary:focus {
  background-color: #2666F5;
}
.btn.primary:active, .btn.primary.loading {
  background-color: #0D47A1;
}
.btn.secondary {
  color: #515961;
  background-color: #ECEFF4;
}
.btn.secondary:hover, .btn.secondary:focus {
  background-color: #E0E3E8;
}
.btn.secondary:active, .btn.secondary.loading {
  background-color: #C0C6CC;
}
.btn.tertiary {
  color: #6E7780;
  background-color: #fff;
  box-shadow: 0 0 0 0.1rem #C0C6CC inset;
}
.btn.tertiary:hover, .btn.tertiary:focus {
  background-color: #E0E3E8;
}
.btn.tertiary:active, .btn.tertiary.loading {
  background-color: #A9B0B8;
  color: #fff;
}
.btn.size-lg {
  padding: 1.6rem 2rem;
}
.btn.size-md {
  padding: 1.2rem 2rem;
}
.btn.size-sm {
  padding: 0.6rem 1.2rem;
}
.btn.size-xs {
  padding: 0.6rem 1.2rem;
}
.btn.loading {
  position: relative;
  color: transparent !important;
}
.btn.loading > .loadingData {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-48%, -50%);
  width: auto;
  height: 100%;
}
.btn.loading > .loadingData > i {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background: #fff;
  animation: btnLoading2 1.4s infinite;
}
.btn.loading > .loadingData > i:first-child {
  left: -1.2rem;
  animation: btnLoading1 1.4s infinite;
}
.btn.loading > .loadingData > i:last-child {
  right: -1.8rem;
  animation: btnLoading3 1.4s infinite;
}
@keyframes btnLoading1 {
  10% {
    top: 27%;
    opacity: 0;
  }
  40% {
    top: 55%;
    opacity: 1;
  }
  100% {
    top: 27%;
    opacity: 0;
  }
}
@keyframes btnLoading2 {
  30% {
    top: 27%;
    opacity: 0;
  }
  60% {
    top: 55%;
    opacity: 1;
  }
  100% {
    top: 27%;
    opacity: 0;
  }
}
@keyframes btnLoading3 {
  40% {
    top: 27%;
    opacity: 0;
  }
  80% {
    top: 55%;
    opacity: 1;
  }
  100% {
    top: 27%;
    opacity: 0;
  }
}
.btn.txt {
  padding: 0;
  position: relative;
  transition: 0.5s color ease;
  display: inline-block;
}
.btn.txt ~ .btn.txt {
  margin-top: 0;
}
.btn.txt::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2rem;
  background: #4FF8B1;
  width: 0;
}
.btn.txt:hover {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #268E6C;
}
.btn.txt:hover::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  height: 0.7rem;
  width: 100%;
  background: #4FF8B1;
  opacity: 0.7;
  z-index: -1;
}
.btn.txt.uline {
  padding: 0 0.2rem 0;
}
.btn.txt.uline::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 0.1rem;
  background: #F5F7FA;
  transition: 0.5s all ease;
}
.btn.txt.uline:hover, .btn.txt.uline:focus {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #6E7780;
}
.btn.txt.uline:hover::before, .btn.txt.uline:focus::before {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s all ease;
  width: 0;
  opacity: 0;
}
.btn.txt.uline::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
}
.btn.txt.uline:hover, .btn.txt.uline:focus {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #6E7780;
}
.btn.txt.uline:hover::after, .btn.txt.uline:focus::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  background: #268E6C;
  width: 100%;
  height: 0.2rem;
  z-index: 1;
}
.btn.ico {
  position: relative;
}
.btn.ico.arrow {
  padding: 0 1.5rem 0 0.5rem;
}
.btn.ico.arrow::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: -0.25rem;
  border-left: 0.1rem #6E7780 solid;
  border-bottom: 0.1rem #6E7780 solid;
  transform: rotate(-135deg);
}
.btn.ico.arrow:hover::before, .btn.ico.arrow:focus::before {
  content: "";
  display: block;
  transition: 0.3s all ease;
  border-color: #E34850;
}
.btn.ico::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: 0.5s all ease;
}
.btn.ico:hover, .btn.ico:focus {
  backface-visibility: hidden;
  position: relative;
  text-decoration: none;
  color: #6E7780;
}
.btn.ico:hover::after, .btn.ico:focus::after {
  content: "";
  display: block;
  backface-visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s all ease;
  background: #E34850;
  width: 100%;
  height: 0.1rem;
}
.btn.full {
  margin: 0;
  margin-bottom: 0 !important;
}
.btn.full ~ .full {
  margin-top: 1rem;
}

.field._readonly, .field ._readonly, .field ._readonly .field-icon {
  cursor: default;
}
.field._disabled, .field ._disabled, .field ._disabled .field-icon {
  cursor: default;
}
.field ._disabled:not(.box-opt.gap .field-chkrdo) .field-label {
  opacity: 0.5;
}
.field [class*=field] .chk, .field [class*=field] .rdo {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.field-chkrdo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.field-chkrdo + .field-chkrdo {
  margin-left: 2rem;
}
.field-chkrdo .chk:checked + .field-icon {
  background-color: #347EFF;
  border-color: #347EFF;
}
.field-chkrdo .chk:checked + .field-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.5rem;
  height: 1rem;
  border: solid #fff;
  border-width: 0 2px 2px 0;
}
.field-chkrdo .chk:checked:disabled + .field-icon {
  background-color: #ECEFF4;
  border-color: #ECEFF4;
}
.field-chkrdo .chk:checked:disabled + .field-icon::before {
  content: "";
  display: block;
  border-color: #fff;
}
.field-chkrdo .chk.readonly {
  border-color: #F2F5F7;
  pointer-events: none;
}
.field-chkrdo .chk:disabled:not(:checked) + .field-icon {
  border-color: #ECEFF4;
}
.field-chkrdo .chk:disabled:not(:checked) + .field-icon::before {
  content: "";
  display: none;
}
.field-chkrdo .chk ~ .field-icon {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #fff;
  border: 0.2rem solid #C0C6CC;
}
.field-chkrdo .rdo:checked + .field-icon {
  border-color: #347EFF;
}
.field-chkrdo .rdo:checked + .field-icon::before {
  content: "";
  display: block;
  transform: translate(calc(50% + 0.05rem), calc(50% + 0.05rem));
  width: 0.8rem;
  height: 0.8rem;
  background-color: #347EFF;
}
.field-chkrdo .rdo:checked:disabled + .field-icon {
  background-color: #fff;
  border-color: #ECEFF4;
}
.field-chkrdo .rdo:checked:disabled + .field-icon::before {
  content: "";
  display: block;
  background-color: #ECEFF4;
}
.field-chkrdo .rdo:disabled:not(:checked) + .field-icon {
  border-color: #ECEFF4;
}
.field-chkrdo .rdo:disabled:not(:checked) + .field-icon::before {
  content: "";
  display: none;
}
.field-chkrdo .rdo.readonly {
  border-color: #F2F5F7;
  pointer-events: none;
}
.field-chkrdo .rdo ~ .field-icon {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 0.2rem solid #C0C6CC;
}
.field-chkrdo .field-icon:not(.field-switch) {
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}
.field-chkrdo .field-label {
  display: inline-block;
  margin-left: 1rem;
  color: #6E7780;
}
.field-switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.4rem;
}
.field-switch ~ .field-switch {
  margin-left: 1rem;
}
.field-switch .chk:checked ~ .field-icon {
  background: #347EFF !important;
  border-color: #347EFF;
}
.field-switch .chk:checked ~ .field-icon::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: calc(100% - 1.4rem);
  transform: translate(0, -50%);
}
.field-switch .chk:checked ~ .field-icon::after {
  content: "";
  display: block;
  content: "ON";
  color: #fff;
  left: 0.6rem;
}
.field-switch .chk:checked:disabled ~ .field-icon, .field-switch .chk:checked.disabled ~ .field-icon {
  opacity: 0.8;
}
.field-switch .chk.readonly ~ .field-icon, .field-switch .chk .readonly ~ .field-icon {
  opacity: 0.8;
}
.field-switch .field-icon {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  background-color: #F2F5F7;
  border-radius: 2rem;
  transition: 0.4s;
}
.field-switch .field-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0.4rem;
  transform: translate(0, -50%);
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  transition: 0.4s;
}
.field-switch .field-icon::after {
  content: "";
  display: block;
  content: "OFF";
  color: #515961;
  font-size: 1.2rem;
  position: absolute;
  top: 45%;
  right: 0.6rem;
  transform: translate(0, -50%);
  transition: 1s;
}
.field.box-opt {
  display: flex;
  flex-direction: row;
}
.field.box-opt.full .field-chkrdo {
  width: 100%;
}
.field.box-opt .field-icon {
  display: none;
}
.field.box-opt.gap {
  border: none;
}
.field.box-opt.gap .field-chkrdo .field-label {
  box-shadow: 0 0 0 0.1rem #E0E3E8 inset;
}
.field.box-opt.gap .field-chkrdo._disabled .chk:not(:checked) ~ .field-label, .field.box-opt.gap .field-chkrdo._disabled .rdo:not(:checked) ~ .field-label {
  color: #A9B0B8;
  box-shadow: 0 0 0 0.1rem #E0E3E8 inset;
}
.field.box-opt.gap .field-chkrdo._disabled .chk:checked ~ .field-label, .field.box-opt.gap .field-chkrdo._disabled .rdo:checked ~ .field-label {
  color: #A9B0B8;
  box-shadow: 0 0 0 0.1rem #E0E3E8 inset;
  background-color: #F2F5F7;
}
.field.box-opt.gap .field-chkrdo._readonly .chk ~ .field-label, .field.box-opt.gap .field-chkrdo._readonly .rdo ~ .field-label {
  opacity: 0.5;
}
.field.box-opt.gap .field-chkrdo._readonly .chk:checked ~ .field-label, .field.box-opt.gap .field-chkrdo._readonly .rdo:checked ~ .field-label {
  opacity: 0.5;
  color: #347EFF;
  box-shadow: 0 0 0 0.2rem #347EFF inset;
}
.field.box-opt.gap .chk:checked ~ .field-label, .field.box-opt.gap .rdo:checked ~ .field-label {
  color: #347EFF;
  box-shadow: 0 0 0 0.2rem #347EFF inset;
}
.field.box-opt.nogap .field-chkrdo {
  width: 100%;
}
.field.box-opt.nogap .field-chkrdo:first-child .field-label {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.field.box-opt.nogap .field-chkrdo:last-child .field-label {
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.field.box-opt.nogap .field-chkrdo ~ .field-chkrdo {
  margin-left: 0;
}
.field.box-opt.nogap .field-chkrdo ~ .field-chkrdo .field-label {
  margin-left: -0.1rem;
}
.field.box-opt.nogap .chk ~ .field-label, .field.box-opt.nogap .rdo ~ .field-label {
  border: 0.1rem solid #E0E3E8;
}
.field.box-opt.nogap .chk:checked ~ .field-label, .field.box-opt.nogap .rdo:checked ~ .field-label {
  color: #fff;
  background-color: #347EFF;
  border-color: #347EFF;
  z-index: 1;
}
.field.box-opt.ico .rdo:checked + .field-icon, .field.box-opt.ico .chk:checked + .field-icon {
  background-color: #fff;
  border-color: #fff;
}
.field.box-opt.ico .rdo:checked + .field-icon::before, .field.box-opt.ico .chk:checked + .field-icon::before {
  content: "";
  display: block;
  background: transparent;
  border-color: #347EFF;
}
.field.box-opt.ico .field-icon {
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  width: 2.4rem;
  height: 2.4rem;
  border-color: #C0C6CC;
}
.field.box-opt.ico .field-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.3rem;
  height: 0.8rem;
  border: solid #C0C6CC;
  border-width: 0 2px 2px 0;
}
.field.box-opt.ico .field-label {
  padding-top: 4rem !important;
}
.field.box-opt .field-chkrdo {
  display: flex;
  flex-direction: row;
}
.field.box-opt .field-chkrdo .field-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 1.6rem;
  margin-left: 0;
  color: #515961;
  text-align: center;
}

.field {
  /* FIELD - VALID */
}
.field.grow, .field .grow {
  flex: 1 0 0;
}
.field-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.field-label:not(.field-chkrdo .field-label) {
  display: block;
  margin-bottom: 1rem;
}
.field-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.field-msg {
  display: none;
  margin-top: 0.5rem;
  color: #6E7780;
}
.field-msg.info {
  display: block;
}
.field-input {
  height: 4rem;
}
.field-input input:not([type=checkbox]):not([type=radio]) {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
}
.field-input input:not([type=checkbox]):not([type=radio]):focus {
  outline: none;
}
.field-input input:not([type=checkbox]):not([type=radio])::placeholder {
  color: #A9B0B8;
}
.field-input.right input {
  text-align: right;
}
.field-input.center input {
  text-align: center;
}
.field-input.mid_num {
  position: relative;
  max-width: 1.1rem;
  padding-right: 0;
}
.field-input.mid_num input::placeholder {
  font-size: 0.4rem;
}
.field-outline {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 4rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 0.1rem #C0C6CC;
  background: #fff;
}
.field-outline:focus-within {
  box-shadow: 0 0 0 0.2rem #347EFF inset;
}
.field-outline.auth {
  display: inline-flex;
  width: 100%;
}
.field-outline.auth .field-input {
  display: flex;
  flex-direction: row;
}
.field-outline.auth .field ._input-clear {
  order: 2;
}
.field-outline.auth .auth-time {
  margin-left: 1rem;
  align-self: center;
  order: 3;
}
.field-outline.auth .btn-auth {
  align-self: center;
  margin-right: 1rem;
}
.field-outline.pw-group.type2 > ._input {
  max-width: 3rem;
}
.field-outline.pw-group.type2 > ._input:first-child {
  padding-right: 0;
}
.field-outline.grow {
  flex: 1 0 0;
}
.field-outline > * {
  padding: 0 1rem;
}
.field-outline > * + * {
  padding-left: 0;
}
.field-outline.column {
  flex-direction: column;
}
.field-outline.column > * {
  padding: 1rem;
}
.field-outline.column > * + * {
  padding-top: 0;
}
.field-outline.column .right {
  place-self: flex-end;
}
.field-outline.readonly {
  color: #515961;
  cursor: default;
  pointer-events: none;
}
.field-outline.disabled {
  opacity: 0.8;
  cursor: default;
  pointer-events: none;
  background: #ECEFF4;
}
.field-outline .center {
  place-self: center;
}
.field-outline .bottom {
  place-self: flex-end;
}
.field.valid .field-msg, .field.invalid .field-msg {
  display: block;
}
.field.valid .field-outline {
  box-shadow: 0 0 0 0.1rem #268E6C inset;
}
.field.valid .field-outline:focus-within {
  box-shadow: 0 0 0 0.2rem #268E6C inset;
}
.field.valid .field-outline:focus-within input::placeholder {
  color: #268E6C;
}
.field.valid + .field-msg, .field.valid .field-msg {
  color: #268E6C;
}
.field.invalid .field-outline {
  box-shadow: 0 0 0 0.1rem #C9252D inset;
}
.field.invalid .field-outline input {
  color: #C9252D;
}
.field.invalid .field-outline:focus-within {
  box-shadow: 0 0 0 0.2rem #C9252D inset;
}
.field.invalid .field-outline:focus-within input::placeholder {
  color: #C9252D;
}
.field.invalid + .field-msg, .field.invalid .field-msg {
  color: #C9252D;
}

/* FIELD - INPUT SCRIPT */
._input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._input._clear {
  width: calc(100% - 2.2rem);
}
._input-clear {
  display: none;
  pointer-events: none;
  touch-action: none;
  width: 1.4rem;
  height: 1.4rem;
  background: #C0C6CC;
  border-radius: 100%;
  position: relative;
}
._input-clear::before {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
}
._input-clear::after {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
}
._input-clear::before {
  content: "";
  display: block;
  transform: translate(-50%, -50%) rotate(45deg);
}
._input-clear::after {
  content: "";
  display: block;
  transform: translate(-50%, -50%) rotate(-45deg);
}
._input-clear._active {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  pointer-events: all;
  margin-left: 0.5rem;
}
._input ._secureTxt {
  position: relative;
  display: block;
  height: 4rem;
}
._input ._secureTxt > input[type=password] {
  position: relative;
  z-index: 2;
  color: transparent;
}
._input ._secureTxt > input[type=password]::placeholder {
  color: transparent;
}
._input ._secureTxt > i {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translate(0, -50%);
  display: block;
  width: 1rem;
  height: 1rem;
  background: #ECEFF4;
}
._input ._secureTxt > i + i {
  margin-left: 0.3rem;
}
._input ._secureTxt > i._line {
  box-shadow: 0 0 0 0.1rem #C0C6CC inset;
  background: #fff;
}
._input ._secureTxt > i._line._is-active {
  background: #2666F5;
  box-shadow: none;
}

body[screen-type=login], body[screen-type=main] {
  background-color: #F2F5F7;
}
body[screen-type=main] .headerWrap {
  padding: 1.2rem 1.2rem 1.2rem 2rem;
}
body[screen-type=main] .headerWrap + .contentWrap {
  margin-top: 1.6rem;
}
body[screen-type=sub] .headerWrap {
  padding: 1.6rem 2rem;
}
body[screen-type=sub] .headerWrap + .contentWrap {
  margin-top: 2.4rem;
}

.loginWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  padding: 0 2rem;
}
.login-title .tit {
  text-align: center;
  margin-bottom: 2rem;
}
.login-content {
  padding: 2.4rem 2rem;
  background-color: #fff;
  border-radius: 1.2rem;
}
.headerWrap {
  position: relative;
  height: 5.6rem;
}
.headerWrap .left {
  position: relative;
}
.headerWrap .left .tit {
  position: absolute;
  top: 0;
  left: 0;
}
.headerWrap .left .tit::after {
  content: "";
  position: relative;
  display: inline-block;
  background: url(../img/common/icon_arrow_right.svg) no-repeat center/auto;
  width: 2rem;
  height: 2rem;
  vertical-align: baseline;
  margin-left: 0.4rem;
}
.headerWrap .left .back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/common/icon_arrow_right.svg) no-repeat center/2.4rem 2.4rem;
  transform: rotate(180deg);
}
.headerWrap .center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.headerWrap .right {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
}
.headerWrap .right .alarm {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/common/icon_bell.svg) no-repeat center/auto;
}
.headerWrap .right .alarm.new::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
  width: 0.6rem;
  height: 0.6rem;
  border: 0.2rem solid #F2F5F7;
  border-radius: 50%;
  background-color: red;
}
.headerWrap .right .total {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/common/icon_menu.svg) no-repeat center/auto;
}
.headerWrap .right .close {
  position: absolute;
  top: 0.4rem;
  right: 1.2rem;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/common/icon_close.svg) no-repeat center/2.4rem 2.4rem;
}
.headerWrap .content-wrap {
  margin-top: 1.6rem;
}

.contentWrap {
  padding: 0 2rem;
}

.cont-box {
  position: relative;
  display: block;
  width: 100%;
  padding: 2rem 2.4rem;
  background-color: #fff;
}
.cont-box.big {
  padding: 2.4rem;
}
.cont-box.stage {
  margin-top: 1.2rem;
}
.cont-box.stage .txt {
  margin-left: 1.2rem;
}
.cont-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cont-menu .item .link {
  position: relative;
  padding-top: 6.4rem;
}
.cont-menu .item .link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5.6rem;
  height: 5.6rem;
  background-color: #F2F5F7;
}
.cont-menu .item + .item {
  margin-left: 4.2rem;
}

.commute-group .cont-item.title .txt {
  color: #515961;
  padding-left: 0.8rem;
}
.commute-group .cont-item.title::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3.5rem);
  height: 0.1rem;
  bottom: 0;
  left: 1.75rem;
  border-bottom: 0.1rem dashed #C0C6CC;
}
.commute-group .cont-item.state .area-state .icon {
  position: relative;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  border: 0.15rem solid #8C959F;
}
.commute-group .cont-item.state .area-state .icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 0.6rem;
  background-color: #8C959F;
}
.commute-group .cont-item.state .area-state .txt {
  color: #515961;
  vertical-align: text-top;
}
.commute-group .cont-item.state .area-time {
  display: flex;
  align-items: center;
  color: #6E7780;
  margin: 1.6rem 0 3.2rem;
}
.commute-group .cont-item .badge {
  display: inline-block;
  width: auto;
  height: 2.4rem;
  padding: 0.3rem 1rem;
  vertical-align: middle;
  margin-left: 0.4rem;
}
.commute-group.holiday .cont-item.title .tit {
  color: #C9252D;
}
.commute-group.holiday .cont-item.title .txt {
  color: #A9B0B8;
}
.commute-group.annual .cont-item.title .txt {
  position: relative;
  padding-left: 0.9rem;
  color: #212529;
}
.commute-group.annual .cont-item.title .txt::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  background-color: #8C959F;
}
.commute-group.afterwork .cont-item.title .txt {
  position: relative;
  padding-left: 0.9rem;
  color: #212529;
}
.commute-group.afterwork .cont-item.title .txt::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  background-color: #8C959F;
}
.commute-group.afterwork .cont-item.title .txt + .txt {
  padding-left: 0.8rem;
  color: #515961;
}
.commute-group.afterwork .cont-item.title .txt + .txt::after {
  content: none;
}
.commute-group.afterwork .cont-item.state .area-state .icon {
  border-color: #347EFF;
}
.commute-group.afterwork .cont-item.state .area-state .icon::after {
  background-color: #347EFF;
}
.commute-group.afterwork .cont-item.state .area-state .txt {
  color: #347EFF;
}
.commute-group.afterwork .cont-item.state .area-time .tit {
  color: #212529;
}
.commute-group.late .cont-item.state .area-state {
  position: relative;
}
.commute-group.late .cont-item.state .area-state .icon {
  border-color: #C9252D;
}
.commute-group.late .cont-item.state .area-state .icon::after {
  background-color: #C9252D;
}
.commute-group.late .cont-item.state .area-state .txt {
  color: #C9252D;
}
.commute-group.late .cont-item.state .area-state .btnWrap {
  position: absolute;
  top: 0;
  right: 0;
}
.commute-group.late .cont-item.state .area-time .tit {
  color: #212529;
}
.commute-group.overtime .cont-item.state .area-time .tit {
  color: #212529;
}
.commute-group.leave .cont-item.state .area-time .tit {
  color: #212529;
}
.commute-group.leave .cont-item.state .area-time .badge {
  background-color: #E4F5EF;
  color: #268E6C;
}
.commute-group + .cont-box {
  margin-top: 2.4rem;
}/*# sourceMappingURL=cp.style.css.map */