/*  첫페이지 지각자 텍스트 형싱 */
.name-tag{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    .tit{
        @include font('body-lg-700');
    }
    .txt{
        @include font('body-sm', $color-neutural-700);
        em{
            position: relative;
            & + em{
                margin-left: 0.5rem;
                padding-left: 0.5rem;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -0.1rem;
                    @include el-size(0.3rem, 0.3rem);
                    border-radius: 50%;
                    background-color: $color-neutural-700;
                }
            }
        }
    }
}
.category-tag{
    display: flex;
    justify-content: space-between;
    border-radius: 10rem;
    background-color: $color-white;
    padding: 0.4rem 1.6rem;
    .tit{
        @include font-all(1.4rem, 600, 2.2rem);
        &.blue{
            color: #347EFF;
        }
    }
    .txt{
        position: relative;
        @include font-all(1.4rem, 600, 2.2rem);
        color: $color-neutural-700;
        margin-left: 0.8rem;
        padding-left: 0.8rem;
        &::before{
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            @include el-size(0.1rem, 1.2rem);
            background-color: #0000001A;
        }
    }
}

/* 셀렉박스 */
.select{
    display: block;
    width: 100%;
    appearance: none;
    padding: 1.15rem 2rem 1.05rem;
    border: 0.1rem solid $color-border-tertiary;
    border-radius: 0.8rem;
    background: url(../img/icon-select-arrow.svg) no-repeat right 2rem center / auto;
    @include font-all(1.6rem, 400, 2.4rem, $color-text-secondary);
    
}

.graph-area{
    @include el-size(100%, 45.3rem);
    
    background-color: #FF00001A;
    margin-top: 1.7rem;
}

/* login */
.login{
    &-wrap{
        position: fixed;
        display: block;
        @include el-size(48rem, 42rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-title{
        .tit{
            text-align: center;
            @include font('heading-xl');
        }
        + .login-box{
            margin-top: 3rem;
        }
    }
    &-box{
        background-color: $color-white;
        padding: 4rem;
        border-radius: 0.8rem;
    }
    &-group{
        .tit{
            @include font('body-lg-500');
            + .login-form{
                margin-top: 1.3rem;
            }
        }
        + .btn-area{
            margin-top: 3.2rem;
            .btn{
                height: 5.6rem;
            }
        }
    }
    &-form{
        .iuput-wrap{
            + .iuput-wrap{
                margin-top: 2rem;
            }
        }
        + .check-wrap{
            margin-top: 1.3rem;
            .label{
                @include font('body-sm', $color-text-secondary);
                margin-left: 0.8rem;
            }
        }
    }
}

/* 테이블안에 옵션문항 css */
.option-group{
    + .option-group{
        margin-top: 2rem;
    }
}

.label-tag{
    padding: 0.5rem 1rem;
    background-color: $color-bg-interactive-secondary;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

/* 리스트 목록 */
.list{
    .item{
        position: relative;
        padding-left: 1rem;
        &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include el-size(0.3rem, 0.3rem);
            background-color: $color-black;
            border-radius: 50%;
        }
        .tit{
            display: inline-block;
            width: 4.5rem;
        }
    }
}