.header{
    &-wrap{
        display: flex;
        justify-content: space-between;
        padding:1.9rem 6rem 1.9rem 31.6rem;
        min-width: 102.4rem;
        background-color: $color-white;
        transition: .3s padding-left ease-in-out;
    }
    &-left{
        display: flex;
        align-items: center;
        gap: 0.6rem;
        .head-date{
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.9rem;
            color: $color-neutural-700;
            &::before{
                content: 'TODAY';
                display: inline-block;
                position: relative;
                padding: 0.4rem 1.2rem;
                margin-right: 0.6rem;
                background-color: $color-neutural-100;
                border-radius: 10rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.4rem;
                color: $color-brand-primary-400;
            }
        }
    }
    &-right{
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        .login{
            position: relative;
            &-btn{
                display: flex;
                align-items: center;
                gap: 1.2rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.9rem;
                color: $color-text-primary;
                &::before{
                    content: '';
                    display: inline-block;
                    @include el-size(3.2rem, 3.2rem);
                    background: url(../img/icon-head-login.svg) no-repeat center / cover;
                }
            }
        }
        .alarm{
            position: relative;
            &-btn{
                display: flex;
                align-items: center;
                gap: 1.2rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.9rem;
                color: $color-text-primary;
                &::before{
                    content: '';
                    display: inline-block;
                    @include el-size(3.2rem, 3.2rem);
                    background: url(../img/icon-head-alarm.svg) no-repeat center / cover;
                }
                &.new{
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0.1rem;
                        left: 2rem;
                        @include el-size(0.8rem, 0.8rem);
                        border-radius: 50%;
                        background-color: $color-icon-warning;
                        border: 0.2rem solid $color-white;
                    }
                }
            }
            & + .name{
                padding-left: 2rem;
            }
        }
        .name{
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.0.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.9rem;
            color: $color-text-primary;
            &::before{
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                @include el-size(0.1rem, 1.8rem);
                background-color: $color-border-secondary;
            }
        }
    }
}