%transitionPop {transition:opacity 250ms cubic-bezier(.86, 0, .07, 1);}
.no-scroll {
    @include overflow(both, hidden);
    // overscroll-behavior:contain; // 페이지 바운스 막기
}
.modalPop {    
    opacity:0;
    visibility:hidden;
    @include el-size(100%, 100%);
    @include pos-offset(fixed, $left: 0, $top:0, $z-index: 9995);
    transition: all .3s;
    transition-delay: .2s;
    &._is-active {
        opacity: 1;
        visibility: visible;
        display:block;
        @extend %transitionPop;
        &:not(._full) {
            background-color: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(.5rem);
        }
    }
    .modal {
        &Wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include flex($direction:column);
            @include el-size(88.3rem, auto);
            max-height:70%;
            padding: 4rem 0;
            border-radius:1.6rem;
            background-color: $color-white;
            box-sizing: border-box;
            transition: all .5s;
            // overflow: hidden;
        }
        &-header {
            @include flex($al-items: center) { flex-shrink:1; }
            justify-content: space-between;
            padding: 0 4rem;
            .mp-title {
                @include font('heading-md-700');
            }
            .ico-pop-close {
                @include el-size(3.2rem, 3.2rem);
                background: url(../img/icon-popup-close-btn.svg) no-repeat center / auto;
            }
        }
        &-container {
            @include pos-offset(relative);
            padding: 4.25rem 4rem 0 4rem;
            overflow-y: auto;
            + .modal-footer{
                margin-top: 5rem;
            }
        }
        &-footer {
            @include pos-offset(relative, $z-index:1);
            @include align(text, center);
            padding: 0 4rem;
            .btn-area{
                width: 49rem;
                margin: 0 auto;
            }
        }
    }
    &._alert {
        .modal {
          &Wrap{
            width: 50rem;
          }
          &-header {
            min-height: 3.2rem;
            padding: 0 2rem;
          }
          &-container{
            .alert-txt{
                @include font('body-md');
                text-align: center;
            }
          }
          &-footer {
            .btn-area{
                width: auto;
                justify-content: center;
                gap: 1.2rem;
            }
          }
        }
    }
    &.alarm{
        .modal{
            &Wrap{
                width: 40rem;
            }
        }
    }
}

.alarm{
    &-item{
        position: relative;
        padding-left: 1rem;
        .tit{
            @include font('body-lg');
        }
        .txt{
            display: block;
            margin-top: 0.5remrem;
            @include font('body-md');
        }
        &::before{
            content: '';
            position: absolute;
            display: block;
            top: 0.9rem;
            left: 0;
            @include el-size(0.3rem, 0.3rem);
            background-color: $color-black;
            border-radius: 50%;
        }
        &.new{
            padding-left: 1.7rem;
            &::before{
                @include el-size(1rem, 1rem);
                background-color: $color-red-500;
            }
        }
        + .alarm-item{
            margin-top: 1rem;
        }
    }
}

.dimmed {
    @include pos-offset(fixed, $top:0, $left:0, $z-index: 9990);
    width:100%; height:100%; @include overflow(both, hidden);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(.5rem);
}